.idea/
venv
.env
src/view/client.py
src/model/server
src/model/for_data_base/creator_data_base.py
creator_data_base.py
src/model/__pycache__/
convert/
src/model/file.doc
src/model/file.pdf
src/model/for_data_base/