.idea/
venv
pictures
.env
src/view/client.py
src/model/server
src/model/for_data_base/creator_data_base.py
creator_data_base.py
src/model/__pycache__/
src/controller/__pycache__/
src/view/__pycache__/
src/view/widget/__pycache__/
src/view/dialog_window/__pycache__/
src/view/old/
convert/
src/model/file.doc
src/model/file.pdf
src/model/for_data_base/
*.pyc
src/config/__pycache__/
src/model/admin.py
logs/*